<div class="main">
  <div class="container">


    <div class="posts-show-item">
      <div class="post-show-title">
        <%= @post.title %>
      </div>
      <div class="post-show-content">
        <%= @post.content %>
      </div>
      <div class="post-user-name">
        by <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <% if @post.user_id == @current_user.id %>
        <div class="list-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy") %>
        </div>
      <% end %>
    </div>
  </div>
</div>